.callout1{
    background: linear-gradient(
      rgba(0, 0, 0, 0.45), 
      rgba(0, 0, 0, 0.45)
    ), url(../img/d1za65.jpg) no-repeat center center scroll;
}

.callout2{
    background: linear-gradient(
      rgba(0, 0, 0, 0.45), 
      rgba(0, 0, 0, 0.45)
    ), url(../img/ezf4654f6.jpg) no-repeat center center scroll;
}

.callout3{
    background: linear-gradient(
      rgba(0, 0, 0, 0.45), 
      rgba(0, 0, 0, 0.45)
    ), url(../img/dza456da.jpg) no-repeat center center scroll;
}

.callout4{
    background: linear-gradient(
      rgba(0, 0, 0, 0.45), 
      rgba(0, 0, 0, 0.45)
    ), url(../img/g456h48j.jpg) no-repeat center center scroll;
}

.callout5{
    background: linear-gradient(
      rgba(0, 0, 0, 0.45), 
      rgba(0, 0, 0, 0.45)
    ), url(../img/4564d6hg4re.jpg) no-repeat center center scroll;
}

fieldset{
    border: 1px solid #007BFF;
    border-radius: 2px;
}

legend{
    width: 30%;
}

.important{
    color: #ffffff;
    font-size: 25px;
}

.call-to-action ul{
    list-style: none;
}