.callout1{
    background: linear-gradient(
      rgba(0, 0, 0, 0.45), 
      rgba(0, 0, 0, 0.45)
    ), url(../img/d1za65.jpg) no-repeat center center scroll;
}

.callout2{
    background: linear-gradient(
      rgba(0, 0, 0, 0.45), 
      rgba(0, 0, 0, 0.45)
    ), url(../img/ezf4654f6.jpg) no-repeat center center scroll;
}

.callout3{
    background: linear-gradient(
      rgba(0, 0, 0, 0.45), 
      rgba(0, 0, 0, 0.45)
    ), url(../img/dza456da.jpg) no-repeat center center scroll;
}

.callout4{
    background: linear-gradient(
      rgba(0, 0, 0, 0.45), 
      rgba(0, 0, 0, 0.45)
    ), url(../img/ezf4654f6.jpg) no-repeat center center scroll;
}

.callout5{
    background: linear-gradient(
      rgba(0, 0, 0, 0.45), 
      rgba(0, 0, 0, 0.45)
    ), url(../img/4564d6hg4re.jpg) no-repeat center center scroll;
}

fieldset{
    border: 1px solid #007BFF;
    border-radius: 2px;
}

legend{
    width: 30%;
}

.important{
    font-size: 25px;
}

ul{
    list-style: none;
}

.img-circle{
    border-radius: 10%;
}

.margin-bottom{
    margin-bottom: 50px;
}

.margin-top{
    margin-top: 50px;
}

.color-light{
    color: #5F6A75;
}

#myChart{
    margin-left: auto;
    margin-right: auto;
}

.align-middle{
    display: flex;
    align-items: center;
}

.canvas-container{
    width: 30%;
    min-width: 300px;
    margin-left: auto;
    margin-right: auto;
}

.btn-blue{
    color: #ffffff;
    background-color: #007bff;
    border-radius: 0px;
    border: none;
}

.btn-blue:hover{
    color: #ffffff;
    background-color: #0056b3;
}